
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


<div class="container mt-5">
    <h2 class="text-center" >List of Products</h2>
    <br/>
   
    <a class="btn btn-secondary" routerLink='product/add/0'>Add Product</a>
    
    <form class="form-inline my-2 my-lg-0" ons>
        <br/>
        <div >
        <p>Filter Fields:<input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" 
        (input)="onSearchChange($any($event.target).value)"></p>
        
        <!-- (input)="onSearchChange($event.target.value)" --><button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
</div>

      </form>
    

    <br/>
    
<div class="col-md-12">
    <table class="table   table table-striped  ">
        
        <thead style="background-color: #f8f9fa">
            <th>ID</th>
            <th>Name</th>
            <th>Product Code</th>
            <th>Rrice</th>
            <th>Description</th>
            <th>Rating</th>
            <th>Review</th>
            <th>Image</th>
            <th>Product Category</th>
            <th>Edit</th>
            <th>Delete</th>
            
        </thead>
    <br/>
        <tbody *ngFor="let item of products | filter:filterstring" >
            <td>{{item.id}}</td>
            <td>{{item.name}}</td>
            <td>{{item.code}}</td>
            <td>{{item.price | currency:"&#8377;"}}</td>
            <td>{{item.description}}</td>
            <td>{{item.rating}}</td>
            <td>{{item.rating | rating}}</td>
            <td><img src="{{item.image}}" width="150" height="150" ></td>
            <td>{{item.category}}</td>
            <td><a class="btn btn-outline-primary" [routerLink]="['product/edit',item.id]" ><i class="fa fa-edit"></i></a></td>
            <td><a class="btn btn-outline-danger"  (click)="onDelete(item.id)"><i class="fa fa-trash-o"></i></a></td>
        </tbody>
    </table>
    
</div>
</div>